body {
  font-family: 'League Spartan', sans-serif;
  /* background-color: #f2f3f4; */
  background-color: #f4f0ec;
  color: #333;
  margin: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
}

.loading, .error {
  text-align: center;
  margin: 40px auto;
}
